* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '8bits';
}


/*Define a altura do html e body em porcetagem para que possa ser manipulado por porcentagem*/

html,
body {
    height: 100%;
}

body {
    background-color: blue;
}