<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- cOnjunto de caracteres -->
    <meta charset="UTF-8">
    <!-- permite a página se adaptar e manter a escala quando a página é redmensionada -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Importa estilos e plugins -->

    <link rel="stylesheet" href="../assets/css/all.css">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fontawesome/css/all.min.css">
    <link rel="shortcurt icon" type="imagem/png" href="../img/ChicoGamaBG2.png" />

    <title>ChicoGama</title>
</head>

<body>
    <canvas class="background"></canvas>
    <!--Header-->
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark" style="background: rgba(79, 160, 149, 0.5">
            <div class="container-fluid">
                <!--Logo-->
                <a class="navbar-brand imagem" href="#">
                    <img id="logo" src="../img/ChicoGamaBG2.png" alt="logo">
                </a>
                <!--End logo-->

                <!--Responsive menu-->
                <button class="navbar-toggler button-resp" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--End responsive menu-->

                <!--Navbar links-->
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <div class="nav-links d-flex justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active text-light" aria-current="page" href="../index.html">PRINCIPAL</a>
                            </li>

                            <!--dropdown menu-->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            SOBRE MIM
                                        </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Formação</a></li>
                                    <li><a class="dropdown-item" href="#">Atuação Profissional</a></li>
                                </ul>
                            </li>
                            <!--end dropdown menu-->

                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">PORTIFÓLIO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">CONTATO</a>
                            </li>
                        </ul>

                    </div>
                    <!--End navbar-links-->
                </div>
        </nav>
        <!--End Navbar-->

    </header>
    <!--End Header-->

    <!--Main-->
    <main>
        <div class="container">
            <div class="container">
                <h1>Josemar Gama</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </main>
    <!--End main-->

    <!--Footer-->

    <footer class="text-center text-white pt-2" style="background-color: rgba(79, 160, 149, 1);">
        <div class="text-center text-light p-2">
            Minhas mídias sociais
        </div>
        <!-- Grid -->
        <div class="container p-0">
            <!--Social media -->
            <section class="mb-3">
                <!-- Github -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-0" href="https://github.com/chicogama" target="_blank" role="button"><i class="fa-brands fa-square-github"></i></a>
                <!-- Linkedin -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-0" href="https://www.linkedin.com/in/josemar-gama/" target="_blank" role="button"><i class="fa-brands fa-linkedin"></i></a>
                <!-- Instagram -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-0" href="https://www.instagram.com/chicogama.sh/" target="_blank" role="button"><i class="fa-brands fa-square-instagram"></i></a>

            </section>
            <!--Social media -->
        </div>
        <!-- Grid-->

        <!-- Copy -->
        <div class="text-center text-light p-1" style="background-color: #153462;">
            Todos os direitos reservados Josemar Gama®
        </div>
    </footer>
    <!--End footer-->

    <!--Scripts-->
    <script src="../assets/jquery/jquery-3.6.1.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/fontawesome/js/all.js"></script>
    <script src="../assets/js/particles.min.js"></script>
    <script src="../assets/js/script.js"></script>
    <!--End Scripts-->
</body>

</html>