.about-me {
    border-radius: 8px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding-bottom: 20px;
    color: #BAD1C2;
}

.carousel {
    width: 600px;
    height: 600px;
}