#contact-info {
    border-radius: 8px;
    height: 100%;
    padding-top: 20px;
    margin-left: 5px;
    background-color: rgba(192, 192, 192, 0.3);
}

#contact-list {
    padding-right: 20px;
    list-style: none;
    padding-left: 0;
}

#contact-list li {
    line-height: 35px;
}

#contact-list i {
    color: aqua;
    margin-right: 5px;
    font-size: 1.3rem;
}

.sendmail button {
    border: 1px solid #f9f9f9;
    background-color: #4FA095;
    color: #fff;
}

.sendmail button:hover {
    color: #ffff;
    border: 1px solid #f9f9f9;
    background-color: #aaa;
    transform: scale(1.02);
    transition: .2s;
}