header {
    font-size: 14px;
}

#logo {
    margin-left: 30px;
    opacity: 100%;
    width: 200px;
}

.navbar-toggler {
    color: rgba(255, 255, 255, .55);
    border-color: rgba(255, 255, 255, .1);
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}

.navbar-nav li:hover {
    color: aliceblue;
}