    header {
        align-items: center;
    }
    
    .background {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 0;
    }
    
    .active a {
        color: red !important;
    }
    
    .navbar-nav>li.active>a {
        color: red;
    }
    
    .navbar a {
        color: #f9f9f9;
        font-weight: bolder;
        text-shadow: 1px 1px #aaaa;
        margin-left: 15px;
    }
    
    #btn-ctt {
        border-color: #BAD1C2;
        margin-left: 20px;
        margin-top: 0;
    }
    
    #nome {
        padding-top: 30px;
        color: #ffff;
        text-shadow: 1px 1px #aaaa;
        font-family: 'Ubuntu';
        font-weight: bolder;
        font-size: 30px;
    }