main {
    padding: 0;
    background-color: #f9f9f9;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle {
    font-size: 35px;
    color: #153462;
    margin: 50px 0 50px 0;
    text-align: center;
}

section:nth-of-type(1) {
    background: url(/assets/img/cool-background2.png) no-repeat center center fixed;
    background-size: cover;
    min-height: 900px;
}


/* section:nth-of-type(1) {
    background: url(/assets/img/nebula.png) no-repeat center center fixed;
    background-size: cover;
    min-height: 900px;
}

section:nth-of-type(1) {
    background: url(/assets/img/nebula.png) no-repeat center center fixed;
    background-size: cover;
    min-height: 900px;
}

section:nth-of-type(1) {
    background: url(/assets/img/nebula.png) no-repeat center center fixed;
    background-size: cover;
    min-height: 900px;
} */

#btn-down {
    background-color: #4FA095;
    font-weight: bold;
}

#btn-down:hover {
    background-color: #aaa;
}

#btn-down>a:hover {
    text-decoration: #4FA095;
}