main {
    padding: 0;
}

.main-content {
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#btn-down {
    background-color: #4FA095;
    font-weight: bold;
}

#btn-down:hover {
    background-color: #aaa;
    transform: scale(1.02);
    transition: .2s;
}

#btn-down>a:hover {
    text-decoration: #4FA095;
}