section {
    width: 100%;
    min-height: 100vh;
    padding: 25px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

section:nth-of-type(1) {
    background: url(../../assets/img/cool-background3.png) no-repeat center center fixed;
    background-size: cover;
}

section:nth-of-type(2) {
    background: url(../../assets/img/nebula.png) no-repeat center center fixed;
    background-size: cover;
}

section:nth-of-type(3) {
    background: url(../../assets/img/nebula2.png) no-repeat center center fixed;
    background-size: cover;
}

section:nth-of-type(4) {
    background: url(../../assets/img/back1.jpg) no-repeat center center fixed;
    background-size: cover;
}

section:nth-of-type(5) {
    background: url(../../assets/img/back4.jpg) no-repeat center center fixed;
    background-size: cover;
}

section:nth-of-type(6) {
    background: url(../../assets/img/blur.jpg) no-repeat center center fixed;
    background-size: cover;
}

.my-content {
    border-radius: 8px;
    background-color: transparent;
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
    padding-bottom: 20px;
    color: #f9f9f9;
}

#tittle {
    margin: 24px 0 25px 0;
    text-align: center;
}

#tittle h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bolder;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 16px 0;
    grid-gap: 22px;
}

#tittle h1:after,
#tittle h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #f9f9f9;
}

section.active {
    visibility: visible;
}