section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-of-type(1) {
    background: url(/assets/img/cool-background3.png) no-repeat center center fixed;
    background-size: cover;
    min-height: 900px;
}

section:nth-of-type(2) {
    background: url(/assets/img/blur.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 900px;
}

section:nth-of-type(3) {
    background: url(/assets/img/cool-background2.png) no-repeat center center fixed;
    background-size: cover;
    min-height: 900px;
}

section:nth-of-type(4) {
    background: url(/assets/img/cool-background2.png) no-repeat center center fixed;
    background-size: cover;
    min-height: 900px;
}

section:nth-of-type(5) {
    background: url(/assets/img/cool-background2.png) no-repeat center center fixed;
    background-size: cover;
    min-height: 900px;
}

section:nth-of-type(6) {
    background: url(/assets/img/cool-background2.png) no-repeat center center fixed;
    background-size: cover;
    min-height: 900px;
}